<!-- <button (click)="addbtn()">add-button</button>
<button (click)="rembtn()">Remove-button</button>

@for (item of boxes; track $index) {
  <app-boxes></app-boxes>
} -->
<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts; let i = index">
      <th scope="row">{{ post.id }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </tbody>
</table> -->

<ol>
  @for (item of user; track $index) {
    <ul>{{item.name}}</ul>
  }
</ol>
<div
  appHoverBackground
  [hoverColor]="'yellow'"
  [defaultColor]="'blue'"
  style="width: 200px; height: 100px; border: 1px solid black;"
>
  Hover over this box!
</div>



